.imgLogo {
  height: 500px;
  width: 400px;
  opacity: 0.6;
}

@keyframes myAnimatedLogo {
  0% {
    background-color: orangered;
  }
  20% {
    background-color: blue;
  }
  40% {
    background-color: goldenrod;
  }
  60% {
    background-color: yellow;
  }
  80% {
    background-color: olive;
  }
  100% {
    background-color: green;
    transform: rotate(360deg) translateX(150px);
  }
}

div:hover {
  cursor: pointer;
  width: 400px;
  height: 500px;
  animation-name: myAnimatedLogo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
